/*black = #252839
dark gray = #677077
light gray = #b5b5b7
yellow = #f2b632
*/


body {
  background-color: black;
}

* {
  box-sizing: border-box;
  padding: 0;
}

h1, h2, h3, h4, h5, h4 {
  color:#b5b5b7;
}

p {
  color:#b5b5b7;
}
a {
  text-decoration: none;
  color: #677077;
}

li {
  list-style-type: none;
}

ul {
  padding: 0;
  margin: 0;
}

img {
  width: 50%;
  height:
}

/*---------------------------*/
/*----------HEADER-----------*/
/*---------------------------*/

header {
  background-color: #f2b632;
  color: #677077;
  display: flex;
  justify-content: space-between;
}

header h1 {
  color: #677077;
}

header p {
  color: #677077;
}

header a:hover {
  color: black;
}


/*---------------------------*/
/*-------HEADER-RIGHT--------*/
/*---------------------------*/


.header-right {
  text-align: right;
}
/*---------------------------*/
/*-------HEADER-LEFT---------*/
/*---------------------------*/
ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.fa {
  font-size: 2em;
  padding-left: 0.5em;
}
/*---------------------------*/
/*-----FEATURED PROJECT------*/
/*---------------------------*/

.featured-project {
  padding: 2rem;
  display: flex;
  height: 75vh;

}

.image-background {
  display:flex;
  background: gray;
  flex: 3 0 75%;
  justify-content: center;
}

.main-project-description {
  flex: 1 0 25%;
  padding: 15px;
}

.main-project-description p{
  border-top: 3px solid #f2b632;
  padding: 1em;
}

.main-project-description h5{
  padding: 0 1 0 1;
}

.main-project-photo {
  height:auto;
  width:100%;
  padding:2em;
}
/*---------------------------*/
/*-------MORE PROJECTS-------*/
/*---------------------------*/

.more-projects {
  display:flex;
  justify-content: space-around;
}

.project {
  display: flex;
  flex-direction: column;
  width:22%;
  padding: 1rem;
  -webkit-box-shadow: 0px 1px 10px 5px rgba(103,112,119,1);
  -moz-box-shadow: 0px 1px 10px 5px rgba(103,112,119,1);
  box-shadow: 0px 1px 10px 5px rgba(103,112,119,1);
}

.project img {
  width:100%;
  height:28vh;
}

.project p {
  margin-top: 0;
}
.project-one {
  margin-left: 1.2em;
}

.project-four {
  margin-right: 1.2em;
}


/*---------------------------*/
/*--------SKILLS ICONS-------*/
/*---------------------------*/
.skill-icons {
  border: 1px solid red;
  padding:2rem;
  color: white;
}
/*---------------------------*/
/*-----------ABOUT-----------*/
/*---------------------------*/

/*---------------------------*/
/*-----------SKILLS----------*/
/*---------------------------*/

/*---------------------------*/
/*-----------FOOTER----------*/
/*---------------------------*/

footer a:hover {
  color: #f2b632;
}

/*---------------------------*/
/*-------FOOTER-RIGHT--------*/
/*---------------------------*/

/*---------------------------*/
/*-------FOOTER-LEFT---------*/
/*---------------------------*/
