/*black = #252839
dark gray = #677077
light gray = #b5b5b7
yellow = #f2b632
*/



* {
  box-sizing: border-box;
  padding: 0;
}

a {
  text-decoration: none;
  color: #677077;
}

li {
  list-style-type: none;
}

ul {
  padding: 0;
  margin: 0;
}



/*---------------------------*/
/*----------HEADER-----------*/
/*---------------------------*/

header {
  background-color: #f2b632;
  color: #677077;
  display: flex;
  justify-content: space-between;
}

header a:hover {
  color: black;
}


/*---------------------------*/
/*-------HEADER-RIGHT--------*/
/*---------------------------*/


.header-right {
  text-align: right;
}
/*---------------------------*/
/*-------HEADER-LEFT---------*/
/*---------------------------*/
ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.fa {
  font-size: 2em;
  padding-left: 0.5em;
}
/*---------------------------*/
/*-----FEATURED PROJECT------*/
/*---------------------------*/

/*---------------------------*/
/*-------MORE PROJECTS-------*/
/*---------------------------*/

/*---------------------------*/
/*--------SKILLS ICONS-------*/
/*---------------------------*/

/*---------------------------*/
/*-----------ABOUT-----------*/
/*---------------------------*/

/*---------------------------*/
/*-----------SKILLS----------*/
/*---------------------------*/

/*---------------------------*/
/*-----------FOOTER----------*/
/*---------------------------*/

footer a:hover {
  color: #f2b632;
}

/*---------------------------*/
/*-------FOOTER-RIGHT--------*/
/*---------------------------*/

/*---------------------------*/
/*-------FOOTER-LEFT---------*/
/*---------------------------*/
