/*black = #252839
dark gray = #677077
light gray = #b5b5b7
yellow = #f2b632
*/


body {
  background-color: black;
}

* {
  box-sizing: border-box;
  padding: 0;
}

h1, h2, h3, h4, h5, h4 {
  color:#b5b5b7;
}

p {
  color:#b5b5b7;
}
a {
  text-decoration: none;
  color: #677077;
}

li {
  list-style-type: none;
}

ul {
  padding: 0;
  margin: 0;
}

img {
  width: 50%;
  height:
}

/*---------------------------*/
/*----------HEADER-----------*/
/*---------------------------*/

header {
  background-color: #f2b632;
  color: #677077;
  display: flex;
  justify-content: space-between;
  height:60px;
}

header h1 {
  color: #677077;
  margin:0;
  font-size: 2em;
  padding: 10px 0 0 10px;

}

header p {
  color: #677077;
}

header a:hover {
  color: #f2b632;
}

.nav {
  padding: 25px 0 0 10px;
}

.email {
  padding: 10px 10px 0 0;
  margin:0;
}

.phone {
  padding: 4px 10px 0 0;
  margin:0;
}
/*---------------------------*/
/*-------HEADER-RIGHT--------*/
/*---------------------------*/


.header-right {
  text-align: right;
  margin:0;
  padding:0;
}

.fa-twitter {
  font-size: 2rem;
  padding: 20px 15px 0 15px;

}

.fa-linkedin {
  font-size: 2rem;
}

/*---------------------------*/
/*-------HEADER-LEFT---------*/
/*---------------------------*/
ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header-left {
  padding:0;
  margin:0;
}


/*---------------------------*/
/*-----FEATURED PROJECT------*/
/*---------------------------*/

.featured-project {
  display: flex;
  margin-top: 5rem;
  padding: 2rem;
  display: flex;
  height: 75vh;

}

/*.image-background {
  display:flex;
  background: gray;
  flex: 3 0 75%;
  justify-content: center;
}*/

.main-project-description {
  flex: 1 0 33%;
  padding: 15px;
}

.main-project-description p{
  border-top: 3px solid #f2b632;
  padding: 1em;
}

.main-project-description h5{
  padding: 0 1 0 1;
}

.main-project-photo {
  height:auto;
  width:100%;
  padding:2em;
  flex: 2 0 66%;
}
/*---------------------------*/
/*-------MORE PROJECTS-------*/
/*---------------------------*/

.more-projects {
  margin-top: 5rem;
  display:flex;
  justify-content: space-around;
}

.project {
  display: flex;
  flex-direction: column;
  width:22%;
  padding: 1rem;
  -webkit-box-shadow: 0px 1px 10px 5px rgba(103,112,119,1);
  -moz-box-shadow: 0px 1px 10px 5px rgba(103,112,119,1);
  box-shadow: 0px 1px 10px 5px rgba(103,112,119,1);
}

.project img {
  width:100%;
  height:28vh;
}

.project p {
  margin-top: 0;
}
.project-one {
  margin-left: 1.2em;
}

.project-four {
  margin-right: 1.2em;
}


/*---------------------------*/
/*--------SKILLS ICONS-------*/
/*---------------------------*/
.skill-icons {

  padding:10rem 2rem 5rem 2rem;
  display: flex;
  justify-content: space-between;
}

.icon {
height: 10vh;
width: auto;
}

.jquery {
  height: 14vh;
  width:auto;
  margin-top: -1rem;
}




/*---------------------------*/
/*-----------ABOUT-----------*/
/*---------------------------*/
.about-skills {

  display: flex;
}

.about-photo-container {
  display: flex;
  justify-content: space-between;

}

.about {
  flex: 2 0 66%;
}
.about h3 {
  padding: 0 0 0 2rem;
}

.about-text {
  padding: 2rem;
}



.about-photo {
  width: 45%;
  height:30vh;
}

.about-photo.left {
  padding-left: 2rem;
}

.about-photo.right {
  padding-right: 2rem;
}
/*---------------------------*/
/*-----------SKILLS----------*/
/*---------------------------*/
.skills {
  flex: 1 0 33%;
}

aside h3 {
  padding-left: 2rem;
}

aside ul {
  flex-direction: column;
  color: #b5b5b7;
  padding-left: 2rem;
  line-height: 1.5;
}

aside li {
  list-style-type: circle;
}
/*---------------------------*/
/*-----------FOOTER----------*/
/*---------------------------*/

footer a:hover {
  color: #f2b632;
}

/*---------------------------*/
/*-------FOOTER-RIGHT--------*/
/*---------------------------*/

/*---------------------------*/
/*-------FOOTER-LEFT---------*/
/*---------------------------*/
